:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --ui-element: hsl(60, 14%, 99%);
  --bar-color: hsl(187, 86%, 41%);
  --bar-backdrop: hsl(162, 13%, 26%);
  --add-hp: hsl(169, 67%, 43%);
  --remove-hp: hsl(0, 67%, 43%);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}

html,
body,
#app {
  min-height: 100vh;
}
main {
  width: 700px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
}
p,
label,
li,
button,
span {
  font-family: sans-serif;
}

button {
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale3d(1, 1, 1);
}
button:active {
  transform: scale3d(0.95, 0.95, 1);
}
